# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment
venv/

# Ignore environment variables and secrets
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Streamlit configuration files
.streamlit/
